<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SZYMON FITA SZYMON FITA SZYMON FITA SZYMON FITA SZYMON FITA SZYMON FITA</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="login-container">
      <h3>Ah, welcome my dear, please come in...</h3>
      <form id="login-form" action="/login" method="post">
        <div class="input-group">
          <label for="username">Your name:</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="input-group">
          <label for="code">Your code:</label>
          <input type="password" id="code" name="code" required maxlength="5" placeholder="🎵" />
        </div>
        <button type="submit">Login</button>
        <button type="button" onclick="register()">Register?</button>
      </form>
    </div>
    <p id="message" class="hidden"></p>

    <script>
      document.getElementById("login-form").addEventListener("submit", function (event) {
        event.preventDefault();
        const formData = new FormData(this);
        fetch("/login", {
          method: "POST",
          body: formData,
        })
          .then((res) => res.text())
          .then((text) => {
            const message = document.getElementById("message");
            message.innerText = text;
            message.classList.remove("hidden");

            if (text !== "naah") {
              setTimeout(() => {
                window.location.href = "/elzzup";
              }, 1000);
            } else {
              setTimeout(() => {
                message.classList.add("hidden");
              }, 1000);
            }
          });
      });

      function register() {
        fetch("/register")
          .then((res) => res.text())
          .then((text) => {
            const message = document.getElementById("message");
            message.innerText = text;
            message.classList.remove("hidden");

            setTimeout(() => {
              message.classList.add("hidden");
            }, 3000);
          });
      }
    </script>

    <footer class="footer">© 2025 Martin Romper. All rights reserved.</footer>
  </body>
</html>
